<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
        <!--<img src="{{  url_for('static', filename='/img/logo_carotte.png')}}" alt="Logo" width="30" height="24"
            class="d-inline-block align-text-top"> -->
        <span style="color:green;">Mon Garage</span>
    </a>
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Types de réparation</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/type-reparation/show">Voir types de réparation</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/variete/etat_show">En Cours</a></li>
                    </ul>

                </li>
                

                </li>
            </ul>
        </div>
    </div>
</nav>
<br>

<script src="../static/bootstrap/js/bootstrap.js"></script>
