{% extends 'layout.html' %}

{% block title %}
    <title>Modifier un type de réparation</title>
{% endblock %}

{% block body %}
  <h2>Modifier un type de réparation</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/type-reparation/edit">
    <fieldset>
        <legend> Modification du type de réparation n° {{ type_reparation.id }} </legend>
        <input type="hidden" name="id" size="18" value="{{ type_reparation.id }}" id="id">
        <label for="nom">Libelle</label><br>
        <input type="text" name="nom" size="18" value="{{ type_reparation.nom }}" id="nom" required><br><br>

        <input type="submit" value="Modifier" name="Modifier" id="modifier" >

    </fieldset>
  </form>
{% endblock %}