{% extends 'layout.html' %}

{% block title %}
    <title>Les types de réparation</title>
{% endblock %}

{% block body %}

<h3>Types de réparation</h3>
<br>
<a href="/type-reparation/add" class="btn btn-primary add">Ajouter un nouveau type de réparation</a>
<br>
<br><br>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Id</th>
          <th>Libelle</th>
          <th>Nombre de réparation</th>
          <th>Editer</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        {% if type_reparation | length >= 1 %}
        {% for ligne in type_reparation %}
        <tr>
          <td>{{ ligne.id }}</td>
          <td>{{ ligne.libelle }}</td>
          <td>{{ ligne.nbr_reparation }}</td>
          <td><a href="/type-reparation/edit?id={{ ligne.id }}" class="btn btn-primary">Éditer</a></td>
          <td><a href="/variete/delete?id={{ ligne.id }}" class="btn btn-primary">Supprimer</a></td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
</div>
  {% endblock %}